<!DOCTYPE html>
<html>
<head>
  <title>Annotation Screen</title>
  <script  src="script.js" defer></script>
  <script    src="annotate_script.js" defer></script>
  <style>
    body {
      text-align: center;
    }
    #container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #control-panel {
      margin-left: 20px;
    }
    #brush-size-circle {
      width: 50px;
      height: 50px;
      border: 1px solid black;
      border-radius: 50%;
    }
  </style>
</head>
<body>
  <h1>Annotation Screen</h1>
  <h2 id="classLabel">Please annotate class: <span></span></h2>
  <div style="display: none" id="sketchPath"></div>

  <div id="container">
    <!-- Canvas for sketch -->
    <img style="display: none" id="sketchCanvas"  alt="Sketch">
{#      the canvas where we will display our image and do the drawing#}
            <br>

      <canvas
        id="canvas"
        width="512"
        height="512"
        style="border: 1px solid black;"
      ></canvas>
          <div style="margin-top: 5px;">
              <span>Size: </span>
              <input
                type="range"
                min="1"
                max="50"
                value="25"
                class="size"
                id="sizeRange"
              />
          </div>
          <div style="margin-top: 5px;">
              <button id="clear">Clear</button>
            </div>
    <!-- Control Panel -->
    <div id="control-panel">
      <button id="brushButton"  onclick="use_tool('draw');">Brush</button>
      <button id="eraserButton"  onclick="use_tool('erase');" >Eraser</button>
      <br>
      <label for="sizeSlider">Size:</label>
      <input type="range" id="sizeSlider" min="1" max="100">
      <div id="brush-size-circle"></div>
    </div>
  </div>

  <button id="confirmButton">GOforit</button>
  <button style="display: none" id="nextParticipant"> Next participant !</button>
</body>
</html>
